@import "_fonts";

body {
    font-size: 15px;
    background: #CCCCCC;
    font-family: "Gotham Pro";
    color: #222222;
}


a {
    text-decoration: none;
    color: #222222;
}

.container {
    padding: 0 30px;
    max-width: 1500px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;

    &_down {
        background-image: url('../images/icons/down.svg');
        width: 8px;
        height: 5px;
    }

    &_burger {
        background-image: url('../images/icons/burger.svg');
        width: 24px;
        height: 24px;
    }

    &_profile {
        background-image: url('../images/icons/profile.svg');
        width: 24px;
        height: 24px;
    }

    &_cart {
        background-image: url('../images/icons/cart.svg');
        width: 24px;
        height: 29px;
    }

    &_arrow-left {
        background-image: url('../images/icons/leftArrow.svg');
        width: 34px;
        height: 24px;
    }

    &_arrow-right {
        background-image: url('../images/icons/arrowRight.svg');
        width: 34px;
        height: 24px;
    }

    &_arrow-right-blue {
        background-image: url('../images/icons/arrowRightBlue.svg');
        width: 39px;
        height: 22px;
    }



}

.btn {
    color: #1C69D4;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    border: 2px solid #1C69D4;
    padding: 10px 35px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background 0.1s linear;

    &:hover {
        background: darken($color: #1C69D4, $amount: 5%);
    }

    &_full-width {
        width: 100%;
    }

    &_full-blue {
        background: #1C69D4;
        border: 2px solid #1C69D4;
        color: white;

    }

    &_green {
        color: #3CA255;
        border-color: #3CA255;
    }

    & .icon {
        margin-right: 10px;
    }

}

.form {
    &__input {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        color: #222222;
        border: 1px solid #BBBBBB;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 14px 15px 13px 50px;
        outline: none;
        transition: box-shadow 0.1s linear;

        &:focus {
            box-shadow: 0 0 5px 1px #5a9eff;
            border-color: #5a9eff;
        }

        &::placeholder {
            color: #999999;
        }
    }


}

.slider {


    &__navigation {
        display: flex;
        position: absolute;
        right: 0;


        &-link {
            width: 80px;
            height: 80px;
            background: rgba(255, 255, 255, 0.2);
            border: none;
            transition: background 0.1s linear;
            cursor: pointer;
            outline: none;

            &:hover:not(&_disabled) {
                background: rgba(255, 255, 255, 0.4);

            }

            &_disabled {
                opacity: 0.5;
                cursor: not-allowed;

            }
        }

    }

    &__slide-image {
        height: 539px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__slide-content {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #222222;
        text-decoration: none;
    }
}

.header {
    background: #FFFFFF;
    padding: 23px 30px 29px;

    &__wrapper {
        display: flex;
    }

    &__logo-container {
        padding-right: 30px;
    }


    &__addresses {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
        padding-right: 30px;
        width: 220px;
    }

    &__addresses-icon {
        margin-left: 3px;
    }

    &__catalog-button {
        display: block;

    }

    &__main {
        flex-grow: 3;
    }

    &__row1 {
        display: flex;
        margin-bottom: 16px;
        align-items: flex-start;
    }

    &__menu {
        flex-grow: 3;
        padding: 0 36px;
        display: flex;
        list-style: none;
        margin: 0;
    }

    &__menu-item {
        margin-right: 40px;
    }


    &__menu-item:last-child {
        margin-right: 0;
    }

    &__menu-link {
        font-size: 15px;
        line-height: 20px;
    }

    &__menu-link:hover {
        text-decoration: underline;
    }

    &__menu-link_active {
        font-weight: 500;
    }


    &__phone-link {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }

    &__user-menu {
        margin-top: -5px;
    }

    &__user-menu-link {
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__user-menu-text {
        vertical-align: middle;
        margin-left: 5px;
    }

    &__menu-link-cart {
        position: relative;
        top: -4px;
    }

    &__row2 {
        display: flex;
    }

    &__catalog-button {
        margin-right: 30px;
        width: 220px;
    }

    &__search {
        flex-grow: 2;
    }

    &__search-label {
        position: relative;

        &:before {
            display: block;
            content: "";
            background-image: url('../images/icons/loupe.svg');
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            margin-top: -12px;
            left: 17px;

        }
    }


}

.main {
    padding: 30px 30px;
}